//
//  Main.xcconfig
//  HeyLocal
//	Configuration 파일
//
//  Copyright (c) 2022 TGT All rights reserved.
//

#include "Authorization.xcconfig"

// 카카오 REST API URL
KAKAO_REST_URL = https:${SLASH}/dapi.kakao.com

// ODsay LAB API URL
ODSAY_API_URL = https:${SLASH}/api.odsay.com

// 네이버 클라우드 API URL
NCP_API_URL = https:${SLASH}/naveropenapi.apigw.ntruss.com
